.header__container {
  display: flex;
  align-items: center;
  gap: 721px;
  margin-top: 50px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 33px;
}

.menu ul a {
  color: var(--Grey);
  font-family: var(--main-font-femliy);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
}

/* hero */

.hero__container {
  background-image: url(../images/plan/desktop/image-hero-blackcup.jpg);
  width: 1280px;
  height: 450px;
  padding: 94px 0px 32px 85px;
  margin-top: 48px;
  border-radius: 15px;
}

.hero__container h1 {
  color: #fff;
}

.hero__container p {
  color: #fff;
  width: 445px;
  opacity: 0.8;
  font-family: var(--main-font-femliy);
}

/* section2 */

.section2__container {
  margin-top: 180px;
  margin-bottom: 200px;
  background-color: #2c343e;
  padding: 110px 0 100px 85px;
}

.imeges {
  display: flex;
  gap: 349px;
}

.smell {
  margin-top: -15px;
}

.imeg {
  height: 3px;
  margin-left: -1125px;
}

.section2__cards {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-bottom: 64px;
}

.section2__cards h1 {
  color: var(--Pale-Orange);
  font-family: var(--headar-font-femliy);
  margin-bottom: 32px;
}

.section2__cards h3 {
  width: 255px;
  color: #fff;
  margin-bottom: 42px;
  font-family: var(--headar-font-femliy);
}

.section2__cards p {
  width: 285px;
  color: #fff;
  font-family: var(--main-font-femliy);
}
